body {
  background: #e5c3d1;
}

.main {
  display: inline-grid;
  grid-template-columns: [left_menu] 1fr [play_area] 660px [right_menu] 1fr
}

.play_area {
  width: 680px;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 5px;
  float: left;
}

.front {
  position: absolute;
  width: 140px;
  height: 140px;
  background: purple;
  padding: 10px;
  border-radius: 13%;
  transform: perspective( 600px ) rotateY( 0deg );
  backface-visibility: hidden;
  transition: transform .3s linear 0s;
}

.back {
  position: absolute;
  width: 140px;
  height: 140px;
  background: purple;
  padding: 10px;
  border-radius: 13%;
  transform: perspective( 600px ) rotateY( 180deg );
  backface-visibility: hidden;
  transition: transform .3s linear 0s;
}

/* .card:hover > .front {
  transform: perspective( 600px ) rotateY( -180deg );
}

.card:hover > .back {
  transform: perspective( 600px ) rotateY( 0deg );
} */

.card img {
  width: 130px;
  height: 130px;
  margin: 5px 5px;
}

